html{
  font-family: 'Gill Sans Light', 'Helvetica', 'Arial';
  font-size: 90%;
}

body{
  width: 700px;
}

div.container{
  background: #F6F6F6;
  border: 1px solid #EEE;

  position: absolute;
  left: 0;

  min-width: 40%;
  max-width: 51%;

  margin: 5%;
  padding: 10px;
  
}

 .jasmine_html-reporter {
  position: absolute;
  min-width: 30%;
  max-width: 50%;
  margin: 5%;
  left: 45%;
}

div#cart, div#inventory{
  height: auto;
  border: 5px solid #999;
  background: #F0F0F0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
}

div#cart{
  width: 160px;
  float: right;
}

div#inventory{
  width: 430px;
  height:auto;
  overflow: hidden;
}

div.item{
  height: 120px;
  width: 120px;
  border: 1px solid #EEE;
  background: #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  float: left;
  margin: 5px;
  padding: 5px;
}

div.item h3{
  margin: 0px;
  padding: 0px 0px 10px 0px;
}

div.item ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

div.item ul li{
  margin: 0px 0px 3px 0px;
}

div#cart h3{
  display: inline;
  font-size: 14px;

}